td.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: bold;
}

td.izquierda{
    background-color: #336666;
}

td.Derecha{
    background-color: #CCFFCC;
}

td.Registrar{
    background-color: white;
}

td.datos{
    background-color: white;
    font-weight: bold;
}

td.formularioTitulo{
    background-color: #c9dacb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

td.formulario{
    background-color: #c9dacb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

td.mostrarTitulo{
    background-color: #c9dacb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

td.mostrarCabecera{
    background-color: #c9dacb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

td.mostrar{
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

td.mostrarComentario{
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}

td.mostrarPaginacion{
    background-color: #c9dacb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}



.textoUsuario{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.textoLogin{
    font-weight: bold;
    color: #000000; 
}

.textoAviso{
    font-weight: bold;
    color: #000000;
    font-size: 12px;
}

a.textoFormulario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

a.textoRegistrar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.prohibido{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #336666;
}


